server {

    server_name {{ sonarqube.server }};
    root /usr/share/nginx/sonarqube;

    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;

    location / {
      proxy_pass http://0.0.0.0:9000;
    }

}
